// src/styles/variables.scss

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Georgia', serif;
$font-heading: 'Arial', sans-serif;

// font
$font-size-base: 20px;
$heading-font: 50px;

// button
$primary-color: rgb(38, 194, 237);
